.nav{
  border: 2px solid yellowgreen;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: #f2f2f2;
  display: flex;
  gap: 30px;
  color: black;
}
.nav ul {
  list-style: none;
  gap: 10px;
  display: flex;
}
.signup{
 display: flex;
 justify-content: center;
 align-items: center;
}
.signupchild h1{
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 30px;
}
.form{
  border: 2px solid green;
  background-color: aqua;
  color: black;
  height: 100%;
  width: 100%;
  padding: 40px;
  margin-top: 10px; 
  border-radius: 10px;
  text-align: center;
  margin-right: 30px;
}
.loginform{
  display: flex;
  align-items: center;
  justify-content: center;
}
.login{
  border: 2px solid green;
  background-color: aqua;
  color: black;
  padding: 40px;
  margin-top: 10px; 
  border-radius: 10px;
  text-align: center;
  margin-right: 30px;
}
button{
  margin: 30px;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 40%;
  height: 40px;
}
.loginheader{
  font-size: 30px;
  text-align: center;
}